*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Helvetica Neue", Helvetica;
  src: url("../src/assets/font/HelveticaNeue.ttc");
}
:root {
  /* COLORS */
  --white: #fff;
  --gray: #e4e4e4;
  --white-gray: #fafafa;
  --light-gray: #e6e6e6;
  --dark-gray: #707070;
  --teal: #3a7274;
  --light-teal: #4a9d9d;
  --opactity-teal: #8aabac;
  --indigo-blue: #2e81ff;
  --darkish-blue: #075fe4;
  --night-black: #075fe4;
  --night-indigo: #394553;
  --dark-night-black: #1b232c;
  --black: #1c2127;
  --contact-gradient: #394553, #0b0e11;
  --teal-hover: #134646;
}

/* *** ANIMATIONS  ****/

.fade-in {
  -webkit-animation: fade-in 5s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-left {
  -webkit-animation: fade-in-left 2s both;
}
@-webkit-keyframes fade-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    webkit-transform: translateX(0);
  }
}
.fade-in-right {
  -webkit-animation: fade-in-right 2s both;
}
@-webkit-keyframes fade-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
  }
  100% {
    opacity: 1;
    webkit-transform: translateX(0);
  }
}
.fade-in-top {
  -webkit-animation: fade-in-top 2s both;
}
@-webkit-keyframes fade-in-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
}
/*
.fade-in-top-2{
   -webkit-animation: fade-in-top-2 800ms both;
   -webkit-animation-delay: 200ms;
}
.fade-in-top-3{
  -webkit-animation: fade-in-top-3 800ms both;
  -webkit-animation-delay: 400ms;
}
.fade-in-top-4{
  -webkit-animation: fade-in-top-4 800ms both;
  -webkit-animation-delay: 600ms;
}
.fade-in-top-5{
  -webkit-animation: fade-in-top-5 800ms both;
  -webkit-animation-delay: 800ms;
}
.fade-in-top-6{
  -webkit-animation: fade-in-top-6 800ms both;
  -webkit-animation-delay: 1000ms;
}
.fade-in-top-7{
  -webkit-animation: fade-in-top-7 800ms both;
  -webkit-animation-delay: 1200ms;
}
.fade-in-top-8{
  -webkit-animation: fade-in-top-8 800ms both;
  -webkit-animation-delay: 1400ms;
}
.fade-in-top-9{
  -webkit-animation: fade-in-top-9 800ms both;
  -webkit-animation-delay: 1600ms;
}
.fade-in-top-10{
  -webkit-animation: fade-in-top-10 800ms both;
  -webkit-animation-delay: 1800ms;
}
.fade-in-top-11{
  -webkit-animation: fade-in-top-7 800ms both;
  -webkit-animation-delay: 2000ms;
}
.fade-in-top-12{
  -webkit-animation: fade-in-top-12 800ms both;
  -webkit-animation-delay: 2200ms;
} */
/* 
  100% {
    opacity: 1;
    webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-top-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-top-3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-top-4{
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-top-5{
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-top-6{
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-top-7{
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-top-8{
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-top-9{
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-top-10{
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-top-11{
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    webkit-transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-top-12{
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    webkit-transform: translateY(0);
  }
} */

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 2s both;
}
@-webkit-keyframes fade-in-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }
  100% {
    opacity: 1;
    webkit-transform: translateY(0);
  }
}

/* CONTAINERS */
.container {
  max-width: 1280px;
  padding: 0 5%;
  margin: 0 auto;
  overflow: hidden;
}
.flex-container {
  display: flex;
}
.grid-container {
  display: grid;
}
/* IMAGES */
img {
  width: 100%;
  height: auto;
  display: block;
}

/* BUTTONS */
.btn {
  border-radius: 4px;
  color: var(--white-gray);
  background: var(--light-teal);
}
.button a {
  color: var(--light-gray);
}
.btn-sm {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.7em 1.2em;
  font-weight: 400;
  letter-spacing: 0.2em;
}
.btn-md {
  font-weight: 400;
  text-align: center;
  font-size: 2.4rem;
  padding: 0.8rem 3.5em;
}
.btn-lg {
  font-weight: 600;
  font-size: 3.2rem;
  padding: 1em 4.5rem;
}

/* LINKS */
a {
  display: inline-block;
  text-decoration: none;
}

/* LIST STYLES */
ul {
  list-style: none;
}

/* HEADER */
header {
  padding: 1.7em 0;
  background: var(--dark-night-black);
  position: fixed;
  z-index: 100;
  width: 100%;
}
header h3 {
  font-size: 1.4rem;
  color: var(--white);
  transition: all 250ms ease-in-out;
}
header h3:hover {
  color: var(--indigo-blue);
  font-size: 2.8rem;
}
header span {
  display: block;
  font-weight: 320;
  font-size: 1.2rem;
}

.navbar {
  padding-top: 2em;
  padding-bottom: 1.5em;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--dark-night-black);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 500ms ease-in-out;
}
.navbar-wrapper-main {
  display: none;
}
.navbar-wrapper-second {
  display: block;
}
.navbar a {
  opacity: 0;
  transition: opacity 250ms ease-in-out 250ms;
}
.nav-links {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
}
.nav-links a {
  color: var(--white-gray);
  padding: 0.4em 0.7em;
  transition: all 250ms ease-in-out;
}
.nav-links a:hover {
  color: var(--indigo-blue);
  font-size: 1.6em;
}

.nav-links li {
  margin-bottom: 0.8em;
}
.social-links {
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;
}
.social-links a {
  color: var(--white-gray);
  transition: all 200ms ease-in-out;
}
.social-links a:hover {
  color: var(--indigo-blue);
  font-size: 2rem;
}
.social-links li {
  margin-right: 1em;
}

.nav-toggle:checked ~ nav {
  display: block;
  transform: scale(1, 1);
}
.nav-toggle {
  display: none;
}
.nav-toggle-label i {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 5%;
  font-size: 2.4rem;
  color: var(--white);
}
.nav-toggle:checked ~ .navbar a {
  opacity: 1;
}

/* HERO BANNER */

.hero-container {
  overflow: hidden;
  padding-top: 6em;
  height: 60vh;
  gap: 5px;
}
.hero-left {
  top: 0;
  flex: 1 1 65%;
}
.hero-left img {
  object-fit: cover;
}
.hero-right {
  background: var(--dark-night-black);
  font-size: 2.4rem;
  padding: 0.5em;
  flex: 1 1 35%;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-right h1:first-child {
  color: var(--light-teal);
}
.hero-right h1:nth-child(2) {
  color: var(--indigo-blue);
}
.hero-right h1:nth-child(3) {
  color: var(--darkish-blue);
}

.hero-right span {
  opacity: 0.6;
}
.about {
  background: var(--white-gray);
}

.about-grid {
  row-gap: 1.75em;
}
.about-container {
  padding-top: 3em;
  position: relative;
}
.about-title h1 {
  color: var(--light-gray);
  opacity: 0.3;
  font-size: 12rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.about-header h2 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--light-teal);
  font-weight: 600;
  letter-spacing: 0.5rem;
}
.about-header h2:nth-child(2) {
  text-transform: uppercase;
}
.about-header h2:first-child {
  font-size: 1.9rem;
  font-weight: normal;
  margin: 0.3em 0;
}
.about-info-flex {
  justify-content: center;
  gap: 2em;
}
.about-info {
  color: var(--light-teal);
  letter-spacing: 0.2rem;
  margin-top: 1.5em;
}

.about-info-left h3 {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: right;
  margin-bottom: 1.2em;
  /* width:fit-content; */
}
.about-info-right {
  text-align: left;
  /* flex:1 1 41%; */
  flex-basis: 59%;
}
.about-info-left {
  /* flex:1 1 39%; */
  flex-basis: 41%;
}
.about-info-right h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1.2em;
}
.about-message {
  margin: 0 auto;
  max-width: 85%;
  text-align: center;
  background: var(--white);
  padding: 1.5em;
  box-shadow: 2px 5px 8px #e3e3e3;
  border-radius: 4px;
}
.about-message h3 {
  color: var(--indigo-blue);
  font-size: 2.3rem;
  font-weight: 300;
  margin: 0.4em 0;
}

.about-message p {
  font-style: italic;
  font-size: 1.2rem;
  margin: 0.8em 0;
  color: var(--dark-gray);
  line-height: 1.5em;
  letter-spacing: 0.1rem;
  text-align: center;
  word-wrap: break-word;
}

.about-image {
  margin: 0 auto;
  width: 60%;
  max-width: 220px;
}
.about-image img {
  box-shadow: 2px 8px 6px #e3e3e3;
  border-radius: 100%;
  border: 5px solid var(--teal);
}
.download-cv-button {
  margin: 4em auto;
  box-shadow: 6px 5px 4px #e3e3e3;
}
.download-cv-button a:hover {
  background-color: var(--teal-hover);
  transition: all 250ms ease-in-out;
}
.about-message i {
  color: var(--light-teal);
  font-size: 2.8rem;
  text-align: left;
}
/* END OF ABOUT SECTION  */

/*******************
EXPERIENCE SECTION
*****/

#experience {
  background: var(--night-indigo);
  padding: 5em 0;
}
.exp-container {
  color: var(--light-teal);
}
.right-exp-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-exp-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exp-container span {
  display: inline-block;
}
.exp-grid {
  grid-template: auto / 1fr auto 1fr;
  gap: 0.8em;
  grid-template-areas:
    "exp-second exp-second exp-second "
    "exp-third exp-third  exp-third"
    "exp-date-1 circle-group-1 exp-job-desc-1"
    "exp-date-2 circle-group-2 exp-job-desc-2"
    "exp-date-3 circle-group-3 exp-job-desc-3";
}
.exp-first {
  text-align: center;
}
.exp-second {
  grid-area: exp-second;
  justify-content: center;
}
.exp-third {
  grid-area: exp-third;
  flex-direction: column;
  align-items: center;
}
.exp-third :first-child {
  margin: 0.8em;
}
.circle-group-1 {
  flex-direction: column;
  align-items: center;
  grid-area: circle-group-1;
}
.circle-group-1 > *,
.circle-group-2 > *,
.circle-group-3 > * {
  margin-bottom: 0.5em;
}
.exp-job-desc-1 {
  grid-area: exp-job-desc-1;
}
.exp-date-1 {
  grid-area: exp-date-1;
}
.exp-date-2 {
  grid-area: exp-date-2;
}
.circle-group-2 {
  flex-direction: column;
  align-items: center;
  grid-area: circle-group-2;
}
.exp-job-desc-2 {
  grid-area: exp-job-desc-2;
}
.exp-date-3 {
  flex-direction: column;
  align-items: center;
  grid-area: exp-date-3;
}
.circle-group-3 {
  grid-area: circle-group-3;
}
.exp-job-desc-3 {
  grid-area: exp-job-desc-3;
}
.exp-large-circle {
  font-size: 2.8rem;
  padding: 0.8em;
  outline: 5px solid var(--teal);
  outline-offset: 5px;
}
.exp-circle {
  border-radius: 100%;
  background-color: var(--light-teal);
  color: var(--teal);
}
.exp-small-circle {
  width: 10px;
  height: 10px;
}
.exp-medium-circle {
  outline: 5px solid var(--teal);
  outline-offset: -2px;
  font-size: 0.8rem;
  padding: 0.5em;
}

.grid-item p {
  color: var(--indigo-blue);
}
.exp-first h1,
.right-exp-col h1 {
  background-color: var(--teal);
  color: var(--white-gray);
  width: fit-content;
  margin: 2.5em 0;
  text-align: center;
  font-size: 1.8em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.exp-date {
  color: var(--light-gray);
  font-size: 1rem;
  border: 1px solid none;
  width: fit-content;
  margin-left: auto;
  padding: 0.3em;
  border-radius: 2px;
  background: var(--teal);
}
.exp-role {
  font-weight: 300;
  font-size: 1.2rem;
}
.exp-loc {
  font-weight: 100;
  font-size: 1.2rem;
}

.interest-flex-container {
  text-align: center;
  align-items: stretch;
  /* justify-content:space-evenly; */
  flex-wrap: wrap;
  gap: 13px;
}
.interest-items {
  flex: 1 1 auto;
  align-items: stretch;
  margin-top: auto;
  margin-bottom: 1.6em;
}
.interest-items h3 {
  margin-top: 0.2em;
  font-weight: normal;
}
.interest-items i {
  outline: 5px solid var(--teal);
  outline-offset: 5px;
  color: var(--light-teal);
  font-size: 3rem;
  padding: 0.3em;
  margin-bottom: 0.3em;
  border-radius: 4px;
}
/* END OF EXPEREINCE SECTION  */

/* ***************************************************************
SKILLS SECTION 
********************************/
.gradeCert{
  display:inline-block;
  margin-top:1em;
  font-size:1.2rem;
  
  
}
.flex-card {
  justify-content: space-around;
  flex-wrap: wrap;
}

@keyframes loadbar-html {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@-webkit-keyframes loadbar-html {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}
@keyframes loadbar-js {
  0% {
    width: 0%;
  }

  100% {
    width: 94%;
  }
}

@-webkit-keyframes loadbar-js {
  0% {
    width: 0%;
  }

  100% {
    width: 94%;
  }
}
@keyframes loadbar-react {
  0% {
    width: 0%;
  }

  100% {
    width: 98%;
  }
}

@-webkit-keyframes loadbar-react {
  0% {
    width: 0%;
  }

  100% {
    width: 98%;
  }
}

@keyframes loadbar-node {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}

@-webkit-keyframes loadbar-node {
  0% {
    width: 0%;
  }

  100% {
    width: 90%;
  }
}
@keyframes loadbar-sql {
  0% {
    width: 0%;
  }

  100% {
    width: 98%;
  }
}

@-webkit-keyframes loadbar-sql {
  0% {
    width: 0%;
  }

  100% {
    width: 98%;
  }
}
@keyframes loadbar-adobe {
  0% {
    width: 0%;
  }

  100% {
    width: 98%;
  }
}

@-webkit-keyframes loadbar-adobe {
  0% {
    width: 0%;
  }

  100% {
    width: 98%;
  }
}

#skill-section {
  position: relative;
  background-color: #232b35;
  z-index: 1;
}
.skill-relative {
  padding: 0 5%;
  position: relative;
  height: 45vh;
  /* overflow: hidden; */
}
.skill-container {
  padding: 5% 0;
  color: var(--teal);
  position: absolute;
  top: -15%;
  left: 0;
  transform: translateX(10%);
  width: 85%;
}
.skill-container-left {
  background: var(--dark-night-black);
  padding: 0.6em;
  text-align: center;
  border-radius: 12px 12px 0 0;
}
.skill-container-left h3 {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.4em;
}

.skill-container-right {
  box-shadow: 6px 5px 6px #e3e3e3;
  font-size: 1rem;
  background: var(--white-gray);

  height: auto;
  padding: 1.5em;
  border-radius: 0 0 12px 12px;
}
.skill-label {
  justify-content: space-between;
}
.skill-label h3 {
  font-weight: 500;
  letter-spacing: 0.15em;
}

.skill-item {
  margin: 1.3em 0;
}
.skill-bar {
  margin: 0.2em 0;
  background: var(--opactity-teal);
  width: 100%;
  height: 20px;
  box-shadow: 2px 5px 4px #e3e3e3;
}
.skill-bar::before {
  height: 20px;
  display: block;
  content: "";
}
.html-skill-bar::before {
  width: 90%;
  background: var(--teal);
  animation: loadbar-html 3s;
  -webkit-animation: loadbar-html 3s;
  animation-iteration-count: infinite;
}

.js-skill-bar::before {
  background: var(--teal);
  width: 94%;
  animation: loadbar-js 3s;
  -webkit-animation: loadbar-js 3s;
  animation-iteration-count: infinite;
}
.react-skill-bar::before {
  background: var(--teal);
  width: 98%;
  animation: loadbar-react 3s;
  -webkit-animation: loadbar-react 3s;
  animation-iteration-count: infinite;
}
.node-skill-bar::before {
  background: var(--teal);
  width: 90%;
  animation: loadbar-node 3s;
  -webkit-animation: loadbar-node 3s;
  animation-iteration-count: infinite;
}

.sql-skill-bar::before {
  background: var(--teal);
  width: 98%;
  animation: loadbar-sql 3s;
  -webkit-animation: loadbar-sql 3s;
  animation-iteration-count: infinite;
}
.adobe-skill-bar::before {
  background: var(--teal);
  animation: loadbar-adobe 3s;
  -webkit-animation: loadbar-adobe 3s;
  animation-iteration-count: infinite;
  width: 98%;
}

.skill-title {
  justify-content: space-between;
}

/* PROJECTS SECTION */
/* PROJECTS SECTION */
.card-container .card .icon {
  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background-size: cover;
  background-position: center center;
}
.card-container .card .icon {
  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background-size: cover;
  background-position: center center;
}
.pautakards {
  background-image: url(../src/assets/images/pautakards.png);
}
.todo {
  background-image: url(../src/assets/images/todo.png);
}
.resto {
  background-image: url(../src/assets/images/restoapp.png);
}
.hotel {
  background-image: url(../src/assets/images/casa-caballero.png);
}

.card-container .card .slide {
  width: 300px;

  height: 200px;

  transition: 0.5s;
}

.card-container .card .slide.slide1 {
  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: 0.7s;

  transform: translateY(100px);
}

.card-container .card:hover .slide.slide1 {
  transform: translateY(0px);
}

.card-container .card .slide.slide2 {
  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: 0.8s;

  transform: translateY(-100px);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.card-container .card:hover .slide.slide2 {
  transform: translateY(0);
}

.card-container .card .slide.slide2 .content p {
  margin: 0;
  margin-bottom: 1.5em;

  padding: 0;

  text-align: center;

  color: var(--darkish-blue);
  font-weight: 200;
  font-size: 1.6rem;
}

.card-container .card .slide.slide2 .content h3 {
  margin: 0 0 10px 0;

  padding: 0;

  text-align: center;

  color: var(--teal);
  font-size: 2.5rem;
}
#project {
  background: var(--white-gray);
  padding: 5em;
  font-weight: 400;
  font-weight: 1.8rem;
}
.project-container-main {
  max-width: 1280px;
  padding: 3em 0;
  margin: 0 auto;
  overflow: hidden;
}
.project-header {
  margin: 2em 0;
}
.project-header i {
  font-size: 1.8rem;
  color: var(--teal);
}
.project-header h1 {
  font-size: 3.2rem;
  margin-bottom: 0.2em;
  text-align: center;
  color: var(--teal);
}
.project-header p {
  font-size: 1.4rem;
  text-align: center;
  color: var(--opactity-teal);
  margin-bottom: 0.5em;
}
.project-container-wrapper {
  flex-direction: column;
  gap: 20px;
}
.project-container {
  border-radius: 5px;
  background: var(--dark-night-black);
  flex-direction: column;
  box-shadow: 2px 12px 8px #e3e3e3;
}
.project-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-info {
  padding: 1.5em;
}
.project-info h2 {
  color: var(--light-teal);
  margin: 1em 0;
  line-height: 0.8em;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 400;
}
.project-info p {
  color: var(--indigo-blue);
  margin-bottom: 1.5em;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5em;
  font-weight: 300;
}
.tech-stack {
  justify-content: center;
  gap: 5px;
  margin-bottom: 1em;
}
.tech-stack img {
  width: 20px;
  height: 20px;
}
.git-button {
  background: none;
  color: var(--teal);
  border: 1px solid var(--teal);
}
.view-git-button {
  width: fit-content;

}
.view-git-button a {
  display: inline-block;
  text-transform: uppercase;
  margin: 1em 0.5em;
  font-size: 1rem;
  padding: 0.4em 0.8em;
  /* box-shadow: 2px 2px 6px var(--opactity-teal); */
  transition: all 250ms ease-in-out;
}
.view-git-button a:hover {
  background-color: var(--teal-hover);
}

/* CONTACT SECTION*/
#contact {
  background-image: linear-gradient(var(--contact-gradient));
  color: var(--medium-dark-gray);
  padding-top: 6em;
}
.contact-top,
.contact-bottom,
.location-contact,
.phone-contact,
.email-contact {
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.9em;
  row-gap: 1.2em;
  width: 100%;
}
.contact-bottom-right {
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0.9em;
  row-gap: 0.5em;
  width: 100%;
}

.contact-bottom h2 {
  color: var(--light-teal);
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.1em;
}
.location-contact i,
.email-contact i,
.phone-contact i {
  font-size: 3.2rem;
  color: var(--teal);
}
.get-in-touch h1 {
  color: var(--white-gray);
  font-size: 2.8rem;
  font-weight: 500;
}
.get-in-touch h2 {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--light-teal);
}
.contact-bottom-right label {
  color: var(--teal);
  font-size: 1.2rem;
}
.contact-input {
  margin-bottom: 1em;
  width: 100%;
  text-align: left;
}

.contact-input input[type="text"] {
  height: 2em;
  width: 100%;
  padding: 0.5em;
  box-shadow: 2px -2px 8px var(--light-gray);
  border: none;
  color: var(--dark-night-black);
  font-family: "Helvetica Neue";
}

input:focus,
textarea {
  outline: none !important;
}
.contact-bottom-right input[type="text"]:focus,
textarea:focus {
  background-color: var(--light-gray);
}
.contact-input textarea {
  width: 100%;
  resize: none;
  padding: 0.5em;
  box-shadow: 2px -2px 8px var(--light-gray);
  border: none;
  color: var(--dark-night-black);
  font-family: "Helvetica Neue";
}
.contact-submit button{
  border-radius: 80px;
  background: var(--dark-night-black);
  border: none;
  color: var(--teal);
  font-weight: 500;
  font-size: 2rem;
  padding: 0.75em 1.9em;
  cursor: pointer;
  letter-spacing: 3px;
  margin: 2.5em 0;
  box-shadow: 2px -2px 8px var(--teal);
}

.contact-submit {
  justify-content: center;
}
.jc-avatar img {
  width: 10em;
  height: 10em;
  border-radius: 100%;
}
.jc-avatar {
  position: relative;
}
.jc-avatar small {
  position: absolute;
  top: 80%;
  left: 30%;
  color: teal;
  display: block;
  background: var(--light-gray);
  border-radius: 30px;
  padding: 0.2em;
  opacity: 0.5;
}

/* FOOTER */
footer {
  text-align: center;
  background: var(--dark-night-black);
  color: var(--light-gray);
  padding: 1.5em 0;
}

/*****
MEDIA QUERY - TABLET SIZE
******/

@media screen and (min-width: 540px) and (max-width: 1027px) {
  /* HEADER  --TABLET  */
  .header h3 {
    font-size: 2.2rem;
  }
  header span {
    font-size: 1.5rem;
  }
  .nav-toggle-label i {
    font-size: 2.8rem;
  }
  .nav-links a {
    font-size: 3.4rem;
  }
  /* HERO BANNER --TABLET  */
  .hero-container {
    gap: 10px;
  }
  .hero-right {
    padding: 1.2em;
  }
  .hero-right h1 {
    font-size: 6.5rem;
  }

  /* ABOUT --TABLET  */
  .about-grid {
    row-gap: 1.95em;
    grid-template: auto auto auto auto auto auto / auto;
    grid-template-areas:
      "name"
      "image"
      "info"
      "message"
      "cv";
  }
  .about-container {
    padding-top: 4.5em;
  }
  .about-header {
    grid-area: name;
  }
  .about-title h1 {
    font-size: 21em;
  }
  .about-image {
    grid-area: image;
    max-width: 29rem;
  }
  .about-header h2 {
    font-size: 4.8rem;
  }
  .about-header h2:first-child {
    font-size: 3rem;
    font-weight: normal;
  }
  .about-info-left h3 {
    font-size: 1.5rem;
  }
  .about-info-right h3 {
    font-size: 1.5rem;
    /* font-weight: 300; */
  }
  .about-info {
    grid-area: info;
  }

  .about-info-left {
    flex-basis: 45%;
  }
  .about-info-right {
    flex-basis: 55%;
  }
  .about-message {
    grid-area: message;
    max-width: 75%;
  }
  .about-message h3 {
    font-size: 2.8rem;
  }
  .about-message p {
    font-size: 1.4rem;
  }
  .download-cv-button {
    grid-area: cv;
  }
  .cv-btn {
    font-size: 1.4rem;
    padding: 1.2rem 1.8em;
  }

  /* EXPERIENCE --TABLET  */
  .exp-first h1,
  .right-exp-col h1 {
    font-size: 3rem;
  }
  .exp-large-circle {
    font-size: 4.5rem;
  }
  .exp-small-circle {
    width: 15px;
    height: 15px;
  }
  .exp-date {
    font-size: 1.6rem;
    padding: 0.3em;
  }
  .exp-role {
    font-weight: 300;
    font-size: 1.8rem;
  }
  .exp-loc {
    font-weight: 100;
    font-size: 1.6rem;
  }

  .exp-medium-circle {
    font-size: 1.4rem;
    padding: 0.5em;
  }
  .interest-items i {
    font-size: 3.6rem;
  }
  .interest-flex-container {
    flex-grow: 1;
  }

  .right-exp-col {
    gap: 30px;
    margin: 6em 0;
    flex-direction: row;
  }

  /* SKILLS --TABLET  */
  body #scene {
    width: 80%;
  }
  li.item > label {
    font-size: 1em;
  }
  .skill-container-left {
    padding: 1.2em;
  }
  .skill-container-left h3 {
    font-size: 3.2rem;
  }
  .skill-relative {
    height: 55vh;
  }
  .skill-container {
    top: -25%;
  }

  .skill-container-right h3 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.15em;
  }

  .skill-bar {
    height: 25px;
  }
  .skill-bar::before {
    height: 25px;
  }
  /* PROJECT SECTION --TABLET  */
  .project-header i {
    font-size: 2.4rem;
  }
  .project-header h1 {
    font-size: 5.4rem;
  }
  .project-header p {
    font-size: 2rem;
  }

  .project-info {
    padding: 2em;
  }
  .project-info h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: left;
    font-size: 2.4rem;
  }
  .project-info p {
    text-align: left;
    font-size: 1.4rem;
  }
  .tech-stack {
    margin-bottom: 1em;
    justify-content: flex-start;
  }
  .tech-stack img {
    width: 20px;
    height: 20px;
  }
  .view-git-button {
    margin: 0;
  }
  .view-git-button a {
    font-size: 1.2rem;
    /* margin-bottom:.5em; */
  }
  .project-container-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .project-image {
    flex-basis: 40%;
  }
  .project-info {
    flex-basis: 60%;
  }

  .project-container {
    flex-direction: row;
    /* flex:1 1 45%; */
  }
  /* CONTACT --TABLET */

  .contact-bottom,
  .contact-top {
    gap: 6em;
  }
  .contact-bottom h2 {
    color: var(--light-teal);
    font-size: 2.8rem;
    font-weight: 300;
    letter-spacing: 0.1em;
  }
  .location-contact i,
  .email-contact i,
  .phone-contact i {
    font-size: 4.8rem;
    color: var(--teal);
  }

  .contact-bottom-right input[type="text"] {
    height: 3em;
    width: 100%;
    padding: 0.3em;
  }
  .get-in-touch h1 {
    color: var(--white-gray);
    font-size: 4.8rem;
    font-weight: 500;
  }
  .get-in-touch h2 {
    font-size: 2.4rem;
    font-weight: 300;
    color: var(--light-teal);
  }
  .contact-submit input[type="submit"] {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 733px) {
  .interest-items {
    flex: 1 1 40%;
  }
}

@media screen and (min-width: 420px) and (max-width: 540px) {
  .hero-right {
    font-size: 3.2rem;
  }
}

/****
MEDIA QUERY - LAPTOP SIZE
*****/
@media screen and (min-width: 1020px) {
  /* HEADER -- LAPTOP */
  .nav-links-main a {
    font-size: 1.4rem;
    color: var(--white-gray);
    justify-self: center;
    padding: 0.4em 1.2em;
    margin-right: 1.3em;
    transition: all 300ms ease-in-out;
  }
  .header h3 {
    font-size: 2.4rem;
    font-weight: 450;
  }
  header span {
    font-size: 1.7rem;
  }
  .navbar-wrapper-second {
    display: none;
  }
  .navbar-wrapper-main {
    display: flex;
    justify-content: space-between;
  }
  .nav-links-main {
    display: flex;
    align-items: center;
  }

  .social-links-main {
    display: flex;
    align-items: center;
  }

  .social-links-main a {
    color: var(--white);
    margin-right: 0.5em;
    font-size: 2.4rem;
    transition: all 300ms ease-in-out;
  }
  .nav-links-main a:hover {
    color: var(--indigo-blue);
    font-size: 1.7rem;
  }
  .social-links-main a:hover {
    color: var(--indigo-blue);
    font-size: 2.7rem;
  }

  /* HERO -- LAPTOP */
  .hero-right h1 {
    font-size: 9.6rem;
  }
  .hero-container {
    height: 70vh;
  }
  .hero-container {
    gap: 15px;
  }

  .hero-right {
    padding: 1.5em;
  }
  .hero-left img {
    object-position: 85% 10%;
  }
  /* ABOUT-- LAPTOP  */
  .about-grid {
    grid-template: 35% 1fr 0.2fr 75% / 2fr 1fr;
    row-gap: 3em;
    grid-template-areas:
      "name image"
      "message info"
      "cv cv";
    align-items: flex-start;
  }
  .about-title h1 {
    font-size: 20em;
    font-weight: 700;
    letter-spacing: 0.5em;
  }
  .about-image {
    grid-area: image;
    max-width: 32rem;
    width: 85%;
    margin: 20px;
    display: flex;
    justify-self: flex-end;
  }
  .about-image img {
    object-fit: cover;
  }
  .about-container {
    padding-top: 2.5em;
  }
  .about-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    grid-area: name;
  }

  .about-header h2:first-child {
    margin-right: auto;
    text-align: left;
  }
  .about-header h2 {
    margin-right: auto;
    text-align: left;
    font-size: 6.8rem;
  }
  .about-header h2:first-child {
    font-size: 4rem;
    font-weight: normal;
    /* margin:.6em; */
  }
  .about-info-flex {
    gap: 5px;
  }
  .about-info {
    grid-area: info;

    margin-bottom: 5em;
    font-size: 2rem;
  }
  .about-info-left h3 {
    font-size: 1.4rem;
  }
  .about-info-right h3 {
    font-size: 1.4rem;
    margin-left: 10px;
  }

  .about-info-left {
    flex-basis: 95%;
  }
  .about-info-right {
    flex-basis: 5%;
    /* margin-left:5%; */
  }
  .about-message {
    grid-area: message;
    max-width: 100%;
  }
  .about-message h3 {
    font-size: 3.6rem;
  }
  .about-message p {
    font-size: 1.8rem;
    font-weight: 300;
  }
  .download-cv-button {
    grid-area: cv;
  }
  .cv-btn {
    margin: 0;
    font-size: 1.6rem;
    padding: 1.2rem 1.8em;
  }

  /* EXPERIENCE -- LAPTOP */
  #experience {
    padding-bottom: 10em;
  }
  .exp-container {
    display: flex;
    gap: 3em;
  }

  .exp-first h1,
  .right-exp-col h1 {
    font-size: 3.2rem;
  }

  .exp-large-circle {
    font-size: 6.5rem;
  }
  .exp-small-circle {
    width: 18px;
    height: 18px;
  }
  .exp-date {
    font-size: 1.8rem;
    padding: 0.3em;
  }
  .exp-role {
    font-weight: 300;
    font-size: 2.5rem;
  }
  .exp-loc {
    font-weight: 200;
    font-size: 1.4rem;
  }

  .exp-medium-circle {
    font-size: 1.4rem;
    padding: 0.5em;
  }
  .interest-items i {
    font-size: 4.2rem;
  }
  .interest-items h3 {
    font-size: 1.4rem;
  }
  .interest-flex-container {
    gap: 20px;
  }
  .interest-items {
    flex: 1 1 48%;
  }
  .right-exp-col {
    margin: 0;
    flex-direction: column;
  }

  /* SKILLS -- LAPTOP  */

  .skill-container-left {
    padding: 1.6em;
  }
  .skill-container-left h3 {
    font-size: 4.2rem;
  }
  .skill-container {
    top: -22%;
    left: 0;
    max-width: 68%;
    transform: translateX(24%);
  }
  .skill-container-right {
    padding: 5em;
    height: 47em;
  }

  .skill-container-right h3 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.3em;
  }

  .skill-bar {
    height: 25px;
  }

  .skill-bar::before {
    height: 25px;
  }
  .skill-relative {
    height: 70vh;
  }

  /* PROJECT SECTION -- LAPTOP */

  .project-header i {
    font-size: 3.2rem;
  }
  .project-header h1 {
    font-size: 6.8rem;
  }
  .project-header p {
    font-size: 2.8rem;
    /* margin-bottom: 2.5em; */
  }
 
  .project-info {
    padding: 2em;
  }
  .project-info h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: left;
    font-size: 2.4rem;
  }
  .project-info p {
    text-align: left;
    font-size: 1.4rem;
  }
  .tech-stack {
    margin-bottom: 1em;
    justify-content: center;
  }
  .tech-stack img {
    width: 20px;
    height: 20px;
  }
  .view-git-button {
    margin: 0;
  }
  .view-git-button a {
    font-size: 1.2rem;
    /* margin-bottom:.5em; */
  }
  .project-container-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .project-image {
    flex-basis: 40%;
  }
  .project-info {
    flex-basis: 60%;
  }

  .project-container {
    flex-direction: row;
    flex-basis: 48%;
  }
  /* CONTACT SECTION -- LAPTOP   */
  .contact-top {
    justify-content: space-between;
    gap: 15px;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 5em;
  }

  .contact-bottom {
    justify-content: space-between;
    gap: 15px;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }

  .contact-top h1 {
    color: var(--white);
    font-size: 4.8rem;
    text-align: left;
  }
  .contact-top h2 {
    font-weight: 300;
    color: var(--teal);
    font-size: 2.4rem;
    text-align: left;
  }
  .contact-bottom-left {
    flex-basis: 50%;
    padding-top: 1em;
  }
  .contact-bottom-left i {
    font-size: 3.8rem;
  }
  .contact-bottom-left h2 {
    font-size: 2.2rem;
    font-weight: 300;
  }
  .contact-bottom-left i {
    color: teal;
  }
  .location-contact,
  .phone-contact,
  .email-contact {
    flex-direction: row;
    gap: 15px;
    margin-bottom: 2em;
    text-align: left;
  }
  .location-contact {
    padding: 0 3px;
  }
  .location-contact h2 {
    padding-left: 8px;
  }
  .contact-bottom-right {
    justify-content: flex-end;
  }
  .contact-bottom-right input[type="text"] {
    width: 100%;

    height: 5em;
  }
  .contact-bottom h2 {
    color: var(--teal);
  }
  .contact-bottom-right textarea {
    width: 100%;
  }
  .contact-submit {
    justify-content: flex-end;
  }
  .contact-submit input[type="submit"] {
    font-size: 2.1rem;
  }
}
